<nav class="navbar navbar-static-top" ng-controller="NavbarCtrl">
    <div class="collapse navbar-collapse sidebar-navbar-collapse side-navbar" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li title="Home">
            <a ng-href="#/">
                <img src="/assets/images/home.png" alt=""/>
                <span>Home</span>
            </a>
        </li>
        <li title="Project Overview" ng-hide="currentPage === '#/'">
            <a ng-href="#/project/{{currentProject}}">
                <img src="/assets/images/overview.png" alt="">
                <span>Overview</span>
            </a>
        </li>
        <li title="User Personas" ng-hide="currentPage === '#/'">
            <a ng-href="#/project/{{currentProject}}/personas">
                <img src="/assets/images/persona.png" alt="">
                <span>Personas</span>
            </a>
        </li>
        <li title="Information Architecture" ng-hide="currentPage === '#/'">
            <a ng-href="#/project/{{currentProject}}/information-architecture">
                <img src="/assets/images/infoarchitecture.png" alt="">
                <span>Architecture</span>
            </a>
        </li>
        <li title="Wireframes" ng-hide="currentPage === '#/'">
            <a ng-href="#/project/{{currentProject}}/wireframes">
                <img src="/assets/images/wireframes.png" alt="">
                <span>Wireframes</span>
            </a>
        </li>
        <li title="Visual Designs" ng-hide="currentPage === '#/'">
            <a ng-href="#/project/{{currentProject}}/visual-designs">
                <img src="/assets/images/designs.png" alt="">
                <span>Visuals</span>
            </a>
        </li>
        <li title="Style Guide" ng-hide="currentPage === '#/'">
            <a ng-href="#/project/{{currentProject}}/style-guide">
                <img src="/assets/images/rules.png" alt="">
                <span>Style Guide</span>
            </a>
        </li>
        <li title="Assets" ng-hide="currentPage === '#/'">
            <a ng-href="#/project/{{currentProject}}/assets">
                <img src="/assets/images/assets.png" alt="">
                <span>Assets</span>
            </a>
        </li>
      </ul>
    </div>
</nav>
